.popup__save-button {
  font-family: "Inter", "Arial", sans-serif;
  width: 358px;
  height: 50px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: #000;
  color: #fff;
  margin: 25px 36px 37px;
  padding: 0;
  border-radius: 2px;
  cursor: pointer;
}


.popup__save-button:hover {
  opacity: 0.8;
  transition: ease-in 0.3s;
}

@media screen and (max-width: 1279px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    margin: 15px 22px 25px;
    font-size: 14px;
    line-height: 17px;
  }
}
