.popup__content {
    font-family: "Inter", "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    width: 430px;
    height: 330px;
    position: relative;
    border-radius: 10px;
}

@media screen and (max-width: 1279px) {
    .popup__content {
        width: 288px;
        height: 322px;

    }
}