.popup__input-name {
  font-family: "Inter", "Arial", sans-serif;
  border: none;
  border-bottom: 1px solid #000;
  opacity: 0.2;
  margin: 54px 36px 0;
}

@media screen and (max-width: 1279px) {
  .popup__input-name {
    margin: 75px 22px 0;
  }
}
